.form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    &--only{
        height: calc(100vh - 88px);
    }

    .form__fieldset > div{
        &:hover{
            > fieldset{
                border-color: $primaryContrast;
            }
            input, textarea{
                border-color: $primaryContrast;
            }
        }
        &:focus,
        &:focus-visible,
        &:focus-within,
        &:active{
            > fieldset{
                border-color: $primaryMain;
            }
            input, textarea{
                border-color: $primaryMain;
            }
        }

    }

    input, label, textarea, p{
        color: $secondaryContrast;
        width: 100%;
    }

    button > svg{
        color: $secondaryContrast;
    }

    p{
        margin: 3px 0 0;
    }

    input, textarea, fieldset{
        border-color: $secondaryContrast;
    }


}