.form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    &--only{
        height: calc(100vh - 88px);
    }

    input, label, textarea, fieldset, p{
        color: $secondaryContrast;
        width: 100%;
    }

    p{
        margin: 3px 0 0;
    }

    input, textarea, fieldset{
        border-color: $secondaryContrast;
    }


}