html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  body {
    position: relative;
    color : $secondaryContrast;
    background-color: $customMain;
    background-color: linear-gradient(180deg, rgba(1,19,43,1) 0%, rgba(1,19,43,1) 20%, rgba(33,44,108,1) 90%, rgba(64,74,134,1) 100%);
  }
  
  h1,
  h2,
  h3 {
    font-family: "Vanadine", "Space Mono", monospace, sans-serif;
    font-weight: bold;
  }
  
  /* Button */
  button {
    border: none;
  }
  button:not(:disabled) {
    cursor: pointer;
  }
  
  /* Masquage d'element restant accessible aux lecteurs d'écran */
  .srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }