// COLORS
$primaryDark: #1a746b; // dark green
$primaryMain: #26a69a;  // green
$primaryLight: #51b7ae; // light green
$primaryContrast: #FFFFFF; // white
$secondaryDark:  #404a86; // dark blue
$secondaryMain:  #5c6bc0; // blue
$secondaryLight:  #7c88cc;  // light blue
$secondaryContrast: #FFFFFF; // white
$customMain: #01132b; // navy background
$customContrast: #FFFFFF; // white

// FONTS
$fontLogo: "blade_runner_movie_fontRg", "Vanadine", monospace, sans-serif !default;
$fontTitle: "Vanadine", 'Space Mono', monospace, sans-serif !default;
$fontText: "Roboto", Arial, Helvetica, sans-serif !default;

// TEXT AND TITLE SIZE
$textXS: 1rem; // 16px
$textSM: 1.25rem; // 20px
$textMD: 1.5rem; // 24px
$textLG: 2rem; // 32px
$textXL: 3rem; // 48px
$textXXL: 4rem; // 64px

$shadow: rgba(255,255, 255, 0.35) 0px 5px 15px;