// COLORS
$primaryLight: #FED154; // soft yellow
$primaryMain: #F4B301; // yellow
$primaryDark: #F5A302;  // dark yellow
$primaryContrast: #1E2329; // grey text on yellow
$secondaryLight: #3B4046; // soft grey
$secondaryMain: #2A2F35;  // grey
$secondaryDark: #1E2329; // dark grey
$secondaryContrast: whitesmoke; // white text on grey
$customMain: #5AAA95; // green-blue
$customContrast: #1E2329; // grey text on green blue

// FONTS
$fontTitle: "thirsty_capsregular", Georgia, Helvetica, sans-serif !default;
$fontText: "Roboto", Arial, Helvetica, sans-serif !default;

// TEXT AND TITLE SIZE
$textXS: 1rem; // 16px
$textSM: 1.25rem; // 20px
$textMD: 1.5rem; // 24px
$textLG: 2rem; // 32px
$textXL: 3rem; // 48px
$textXXL: 4rem; // 64px