@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
  
.header{
    position: relative;
    padding: 1rem;
    background-color: rgba(1, 19, 43, 0.5);
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 800px) {
        padding: 1rem 2rem;
    }

    a{
        text-decoration: none;
    }

    &__logo{
        color: $primaryMain;
        font-family: $fontLogo;

        svg{
            display: inline-block;
            vertical-align: top;
            font-size: 3rem;
            @media screen and (max-width: 799px) {
                vertical-align: middle;
            }
        }
    }

    &__title{
        padding: 0 0.75rem;
        font-size: 1.5rem;
        display: inline-block;
        vertical-align: top;
        @media screen and (max-width: 799px) {
            padding-top: 0.2rem;
            vertical-align: middle;
        }

        span{
            display: block;
            @media screen and (min-width: 800px) {
                display: inline;
                font-size: 3rem;
            }
        }
    }

    button.header__menu{
        padding: 0.75rem 1rem;
        border-radius : 1rem;

        @media screen and (min-width: 800px) {
            padding: 0.75rem 1.25rem;
        }

        span{
            @media screen and (max-width: 799px) {
                margin : 0;
            }
        }

        svg{
            font-size: 2rem;
        }
    }

    &__panel{
        position: absolute;
        right: 2rem;
        top: 6rem;
        z-index: 100;
        width: 200px;
        background-color: white;
        border-radius: 1rem;
        box-shadow: $shadow;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 2s ease-out, height 0.1s linear 2s;

        &.opened{
            opacity: 1;
            height: auto;
            padding: 1rem;
            animation: rotation 1s 1 linear;
        }

        ul{
            @include ulBullet();

            .header__item{

                a{
                    color: $primaryMain;
                    font-weight: bold;
                }

                button{
                    color: $secondaryMain;
                    background-color: transparent;
                    font-weight: bold;
                }
            
                &:hover{
                    border-radius: 1rem;
                    background-color: $primaryMain;

                    a, button{
                        color: $primaryContrast;
                    }
                
                    + .header__item--button{
                        border-color: transparent;
                    }
                }

                &--button{
                    margin-top: 0.5rem;
                    border-top: 1px solid $secondaryMain;

                    &:hover{
                        background-color: $secondaryMain;
                    }
                }
            }

            a, button{
                display: block;
                padding: 0.65rem;
            }

            a{
                color: $primaryMain;
            }

            button{
                width: 100%;
                text-align: left;
            }
        }
    
    }
}